@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

/*body{
  /*background: url('./imgs/bg.svg');
  background: radial-gradient(ellipse at bottom, #0D1E31, #111);
  font-family: 'Roboto Mono', monospace;
}*/


/*************** Landing.js *****************/
.introPos{
  position: absolute;
  left: 39.8125em;
  top: 15.625em;
  background: none !important;
}

.introText{
  color: white;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 2em;
  background: none !important;
}

.readyPos{
  position: absolute;
  left: 50em;
  top: 15.625em;
  background: none !important;
}

.readyText{
  color: white;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.8em;
}

.moonBtn{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: black !important;
}
.moonBtn:hover{
  background-color: #FCE205;
}


/*************** Music.js *****************/
.music-player{
  position: absolute;
  right: 45%;
  top: 20%;
}

.playIcon, .pauseIcon, .volumeUpIcon, .volumeDownIcon{
  color: white;
}

.playIcon:hover, .pauseIcon:hover, .volumeUpIcon:hover, .volumeDownIcon:hover{
  color: #FCE205;
}

.spotify{
  position: absolute;
  top: 2%;
  right: 1%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
/*************** Rocket.js *****************/
.rocket, .rocket-to-moon, .rocket-to-mars, .rocket-to-alien{
  position: absolute;
  width: 3em;
  height:  5em;
  left: 6%;
  top: 44%;
}

@keyframes toMoon{
  from {left:6%;}
  to {left: 93.5%;}
}

@keyframes toMars{
  from {left:6%;}
  to {left: 92.7%;}
}

@keyframes toAlien{
  from {left:6%;}
  to {left: 90.7%;}
}


.rocket-to-moon{
  animation-name: toMoon;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes Flipfire{
    100% {
        transform: rotateY(180deg);
    }
}

.rocket-to-moon #fire{
  animation: Flipfire 2s linear infinite;
}

.rocket-to-mars{
  animation-name: toMars;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.rocket-to-alien{
  animation-name: toAlien;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.earth, .exoplanet{
  position: absolute;
  top: 40%;
  width: 11em;
  height: 9em;
}

.earth{
  left:-3em;
}

.moon{
  position: absolute;
  width: 4em;
  height: 4em;
  top:44.5%;
  right: -1em;
  z-index: 1;
}

.mars{
  position: absolute;
  width: 8em;
  height: 6em;
  top: 43%;
  right: -3.5em;
  z-index: 1;
}

.exoplanet{
  right: -3em;
  z-index: 1;
}

/****************** Timer.js *************/

@keyframes Landing{
  from {top:35%;}
  to {top: 40%;}
}

.spaceman{
  position:absolute;
  right: 0;
  top:35%;
  width: 2em;
  height: 3em;
  z-index: 2;
  animation: Landing 2s ease-in-out forwards;
}

.progressBar{
  position: absolute;
  top: 2%;
  left: -3em;
}

.time-remaining{
  position: absolute;
  top: 1%;
  left: 4%;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 2em;
  background-color: #1b1e21;
  border-radius: 20px;
}

.finishText{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13em;
  height: 12em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/********SHOOTING STARS************/

