@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #0D1E31, #111);
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

.brand{
  position: absolute;
  top: 1%;
  left:1%;
  color:white;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 5px 5px 5px;
  border-style: solid;
  border-spacing: 12px 12px !important;
}

/*************** Landing.js *****************/
.introPos{
  position: absolute;
  left: 40%;
  top: 30%;
  background: none !important;
}

.introText{
  color: white;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 2em;
  background: none !important;
}

.readyPos{
  position: absolute;
  left: 40%;
  top: 30%;
  background: none !important;
}

.readyText{
  color: white;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.8em;
}

.moonBtn{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: black !important;
}
.moonBtn:hover{
  background-color: #FCE205;
}


/*************** Music.js *****************/
.music-player{
  position: absolute;
  right: 45%;
  top: 20%;
}

.playIcon, .pauseIcon, .volumeUpIcon, .volumeDownIcon{
  color: white;
}

.playIcon:hover, .pauseIcon:hover, .volumeUpIcon:hover, .volumeDownIcon:hover{
  color: #FCE205;
}

.spotify{
  position: absolute;
  top: 2%;
  right: 1%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
/*************** Rocket.js *****************/
.rocket, .rocket-to-moon, .rocket-to-mars, .rocket-to-alien{
  position: absolute;
  width: 3em;
  height:  5em;
  left: 6%;
  top: 44%;
}

@keyframes toMoon{
  from {left:6%;}
  to {left: 93.5%;}
}

@keyframes toMars{
  from {left:6%;}
  to {left: 92.7%;}
}

@keyframes toAlien{
  from {left:6%;}
  to {left: 90.7%;}
}


.rocket-to-moon{
  z-index:2 ;
  animation-name: toMoon;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  
}

@keyframes Flipfire{
    from {
      transform: rotateX(0);
    }
    to{
      transform: rotateX(360deg)
    }
}

.rocket-to-moon #fire, .rocket-to-mars #fire, .rocket-to-alien #fire{
  animation: Flipfire 2s infinite linear;
  background-color: white !important;
  color: white !important;
  transform-origin: center;
}

.rocket-to-mars{
  z-index:2 ;
  animation-name: toMars;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.rocket-to-alien{
  z-index:2 ;
  animation-name: toAlien;
  animation-duration: 600s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.earth, .exoplanet{
  position: absolute;
  top: 40%;
  width: 11em;
  height: 9em;
}

.earth{
  left:-3em;
}

.moon{
  position: absolute;
  width: 4em;
  height: 4em;
  top:44.5%;
  right: -1em;
  z-index: 1;
}


.mars{
  position: absolute;
  width: 8em;
  height: 6em;
  top: 43%;
  right: -3.5em;
  z-index: 1;
}

.exoplanet{
  right: -3em;
  z-index: 1;
}

/****************** Timer.js *************/

@keyframes Landing{
  from {top:35%;}
  to {top: 40%;}
}

.spaceman{
  position:absolute;
  right: 0;
  top:35%;
  width: 2em;
  height: 3em;
  z-index: 2;
  animation: Landing 2s ease-in-out forwards;
}

.progressBar{
  position: absolute;
  top: 20%;
  left: 30%;
}

.time-remaining{
  position: absolute;
  top: 20%;
  left: 38%;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 1.5em;
  background-color: #1b1e21;
  border-radius: 20px;
}

.finishText{
  position: absolute;
  left: 30%;
  top: 30%;
}

.margin-top{
  margin-top: 1em;
}

/****************** DisplayQuotes.js *************/
.quote-section{
  position: absolute;
  bottom: 5%;
  left: 23%;
  width: 50em;
  height: 9em;
  text-align: center;
}

.quote{
  font-size: 1.1em;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.person-name{
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
}

/****************** Blinking Stars *************/

/*
section .star
{
  position: absolute;
  top:0;
  left:0;
  
  width: 100%;
  height:100%;
  
  pointer-events:none;
  animation: blinkingstars 8s ease-in-out infinite;
}

section .star.star1
{
  animation-delay: 0s;
  background:url('./imgs/star1.svg'); 
}
section .star.star2
{
  animation-delay: 1s;
  background:url('./imgs/star2.svg');
}
section .star.star3
{
  animation-delay: 2s;
  background:url('./imgs/star3.svg');
}
section .star.star4
{
  animation-delay: 3s;
  background:url('./imgs/star4.svg'); 
}
section .star.star5
{
  animation-delay: 4s;
  background:url('./imgs/star5.svg'); 
}
@keyframes blinkingstars
{
  0%,20%,40%,60%,80%,100%
  {
    opacity:0;
  }
  10%,30%,50%,70%,90%
  {
    opacity:1;
  }
}
*/


/*****************Orbits****************/
/*.satellite{
 
  position: absolute;
  width: 11.5em;
  height:11.5em;
  top:37%;
  left: -4.8em;
  z-index: 1;
  transform-origin: center;
  transform-box: fill-box;
  
  animation: Rotate 5s linear infinite;
}*/
/**trying it out**/
.satellite{
 
  position: absolute;
  width: 11.7em;
  height:11.7em;
  top:37.5%;
  left: -5.1em;
  z-index: 1;
  transform-origin: center;
  transform-box: fill-box;
  
  animation: Rotate 8s linear infinite;
}
.moon_orbit{
  position: absolute;
  width: 16em;
  height:16em;
  top:33%;
  left: -6.7em;
  z-index: 1;
  transform-origin: center;
  transform-box: fill-box;
  animation: Rotate 22s linear infinite;
}

@keyframes Rotate{
  from{
    transform: rotateZ(0deg);
  }
  to {transform: rotateZ(360deg);}
}



.mars_for_alien{
  position: absolute;
  width: 6em;
  height: 6em;
  top: 43%;
  right: 60%;
  z-index: 0;
}
